.htaccess
/config.php
admin/config.php

!index.html

download/
image/cache/
system/cache/
system/cache_mfp/
system/logs/
system/modification/
vqmod/vqcache/
vqmod/checked.cache
vqmod/mods.cache
vqmod/logs/
