body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    color: #333;
    min-width: 320px;
}

body > section {
    margin-bottom: 80px;
}

.filter-btn button {
    margin: 0;
    padding:10px 45px;
    background:#d5d3d3;
    border: inherit;
    font: inherit;
    outline: none;
    width: 100%; font-size:17px; color:#4b4a4b;
    display: block;
    text-align:left;
    color: inherit; 
}

 
.intro p {
  margin-bottom: 40px;
}

.intro .btn {
    display: inline-block;
    vertical-align: top;
    max-width: auto;
    margin: 0 auto;
    border: 1px solid #888;
    color: #333;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px;
    margin-bottom: 15px;
}

.intro .btn:hover,
.intro .btn:active {
  background: black;
  border-color: black;
  color: white;
}

.intro .btn:focus {
  text-decoration: underline;
  border-color: #333;
}

.intro .btn img {
  margin-right: 5px;
}

.snippet {
  max-width: 768px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

 
.article-content h1{
     font-size:20px; text-align:left; font-weight:bold;
}
.article-content li{ border:#ddd solid 1px; display:inline-block; padding:25px;  width: 16%;   height: 140px; margin-bottom:2px;}
 .article-content h2{ font-size:14px; text-align:center; color:#222;}  .article-content img{ text-align:center; display:block; margin:0 auto}
 .article-content a:hover{ text-decoration:none;}
 
 .article-content1 h1{
     font-size:20px; text-align:left; font-weight:bold;
}
.article-content1 li{ border:#ddd solid 1px; display:inline-block; padding:0px 5px 5px;  width: 19%; margin-bottom:2px;}
 .article-content1 h2{ font-size:14px; display:inline-block; text-align:center; color:#222; padding-left:15px;}  
 .article-content1 a:hover{ text-decoration:none;}
 
 .article-content2 li{ border:#ddd solid 1px; display:inline-block; padding:10px 5px 10px; text-align:center;  width: 19%; margin-bottom:2px;}
 .article-content2 h2{ font-size:14px; display:inline-block; text-align:center; color:#222; padding-left:15px;}  .article-content2 img{ text-align:left; margin-right:18px; }
 .article-content2 a:hover{ text-decoration:none;}

.settig-list li{ float:left; margin-right:15px; padding:15px; border:#ddd solid  1px; width:24%; margin-bottom:15px;} .settig-list li:nth-child(4n+4){ margin-right:0}
.settig-list img{ text-align:center; display:block; margin:0 auto;}
.settig-list p{ font-size:14px; color:#222; text-align:center; display:block; line-height:22px; padding-top:30px;}
.settig-list h2{font-size:16px; color:#222; text-align:center; line-height:22px; padding:0; margin:0; font-weight:bold;}
 

[data-accordion] [data-content] {
    background:#fff;
}

[data-accordion] [data-content] [data-content] {
    background:#fff;
}

[data-accordion] [data-content] [data-content] [data-content] {
    background:#fff;
}

 
@media (max-width: 768px) {
    .hp-table table, .hp-table thead, .hp-table .hp-table tbody, .hp-table th, .hp-table td, .hp-table tr { 
        display: block; 
    }
    .hp-table thead tr { 
        display: none;
    }
    .hp-table tr { border: 0px solid #ccc; margin-bottom: 10px; }
    
    .hp-table td:before { 
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    .hp-table td:nth-of-type(2):before { 
        content: "Default:";
        font-weight: bold;
    }
    .hp-table td:nth-of-type(3):before { 
        content: "Type:";
        font-weight: bold;
    }
    .hp-table td:nth-of-type(4):before { 
        content: "Description:";
        font-weight: bold;
    }
}
