@charset "utf-8";
/* CSS Document */

/*body{ background:#fbfaf9} */
*{ margin:0; padding:0; text-decoration:none; font-family: 'PT Sans', sans-serif; outline:none; list-style:none; }
.spacer{ clear:both;}
 .header-wrapper-desktop {
    display: block !important;
}
.contain-to-grid {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 100% auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}
 
 
#top-strip{ width:100%; display:block; margin:0 auto; background:#000; height:20px;}
#top-strip1{width:100%; display:block; margin:0 auto; background:#65646b; padding:5px 0;   }
#top-strip1 p{ color:#fff; font-size:12px; margin:3px 0 0; padding:0;}
#top-strip1 .offer{ background:#53155e; padding:3px 7px; text-align:center; color:#fff; margin-right:15px; }
 
.btn-primary { background:transparent !important; border:transparent !important} 
.btn { padding:0px 12px }
button.search-btn { padding: 4px 12px }
#banner-strip{ width:100%; display:block; margin:0 auto; background:#999; }
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
}
a.cart-items {
  cursor: pointer;
  text-decoration: none;
}
.list-inline  a {
  color: #fff;
}
.list-inline  a:hover {
  text-decoration: none;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #65646B;
}
ul.list-inline {
  margin-bottom: 2px;
}
#product .input-option {
  display: inline-block;
  margin-left: 10px;
}
#product .form-group {
  position: relative;
  /*display: inline-block;*/
}
div#product {
  display: block;
  position: relative;
}
#product .radio {
  position: relative;
  display: inline-block;
}
.grid .price-old {
  text-decoration: line-through;
  font-size: 14px;
  color: #C4C4C4;
  font-weight: normal;
  margin-right: 10px;
}
#header{ margin-top:20px; background:#f3f3f3; padding:30px 30px 5px; } 
.form-group{ font-size:15px; text-transform:uppercase} .form-control { border-radius:10px;}
.navbar-form{ float:right;  } .shopping{ float:left; margin-top:5px;font-size:17px; }   #cart-total { color:#000 !important; margin-top:10px;}
.dots{ border-bottom:#000 dotted 1px; display:block;}
.selectpicker{ padding:3px 15px; width:65%; float:right}
.selectpicker1{ padding:3px 15px;  }

.detail-input input[type="text"] { width:70px; margin-bottom:10px; border:#ccc solid 1px; padding:3px;}
.detail-input1 input[type="text"] { width:100%; margin-bottom:10px; border:#ccc solid 1px; padding:3px; float:left;}
.add-to-cart{ background:#acacac; font-size:25px; text-align:center; color:#fff; border:none; padding:7px 15px; font-weight:bold}
.buy-now{ background:#cbbc97; font-size:25px; text-align:center; color:#fff; border:none; padding:7px 15px; font-weight:bold}
.menu-container { margin-top: 5px; }
#heading-strip h1 {
  position: relative;
  text-align: center; font-size:28px; margin:10px 15px 35px;
}
 
footer{ background:#fbfaf8; border-top:#f2f1ef solid 1px; margin-top:15px;}
/* Somorjit 26/6/15 */
/*-------------------------------custom added css----------------------------------*/
.zoomLens {
 width: 180px !important;
 height: 180px !important;
}
.zoomContainer {
    margin-left: 90px !important;
    padding-right: -75px !important;  
}
.zoomWindowContainer div {
    width: 400px !important;
    height: 400px !important; 
    border: 1px solid #ddd !important;
}
.thumbnail>img, .thumbnail a>img {
  padding-left: 90px;
}
.pluginCountButton {
  diaplay: none !important;
}
.pluginButton .pluginButtonLabel {
  diaplay: none !important;
}
radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {}

.hrz-dsiplay {display: flex;display: -webkit-box;}
.hrz-dsiplay select {margin-left:30px;float:right;}
.test3 {margin-top: 15px;margin-left: 15px;position: absolute;top: 0;}
/*.test3 li {border: 1px solid #ddd;}*/
.test3 li {
    border: 1px solid #DDD;
    padding: 12px 0px;
}
.thumbnail > img, .thumbnail a > img {
    padding-left: 90px;
    padding-bottom: 67px;
}
.test3 img {z-index:99999999;}
.form-group select {width: 60px;height: 30px;border-radius: 0px;}
.details input{ border:#ccc solid 1px;padding:5px;text-align:center;margin:7px 0;background:rgba(251,250,249,0);width: 100%;}}
body{ /*background:#fbfaf9*/}
/* Somorjit End */

#heading-strip h1 span {
  background:#fbfaf9;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
#heading-strip h1:before {
  background: #000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
#heading-strip h1:before {
  left: 0;
}
#heading-strip h1 {
  position: relative;
  text-align: center; font-size:28px; margin:10px 15px 35px;
}


#heading-strip1 h1 span {
  background:#fbfaf9;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
#heading-strip1 h1:before {
  background: #000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
#heading-strip1 h1:before {
  left: 0;
}
#heading-strip1 h1 {
  position: relative;
  text-align: center; font-size:28px; margin:10px 0px 35px;
}



#new-arrival li{ width:340px; display:block; float:left; margin-right:60px; background:#fff; margin-bottom:45px; border:#898989 solid 1px; position:relative}
#new-arrival li h1{   /* color: #2E2E2E;
   
    text-transform: uppercase;
    background: transparent url("../images/bottom-bg.png") repeat-x scroll center bottom;
    
    width: 100%;
    position: absolute;
    bottom: -10px;
    text-align: center; cursor:pointer;
    padding: 15px 15px;
    line-height: 22px; font-weight:bold;*/
	 font-size: 17px;
		display: block;
	background: rgba(113,123,161, 0.9);
	font-style: italic;
	color: #2E2E2E;
	font-weight: bold;
	  padding: 15px 15px;
	position: absolute;
	bottom: 0px;
	left:0px;cursor:pointer;
width: 100%;
	overflow: hidden;
	 
	text-align: center;
	text-shadow: 1px 1px 1px #303857;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	
	
}


#new-arrival li h1:hover{    /*color: #2E2E2E;
    font-size:17px;
    text-transform: uppercase;
    background: transparent url("../images/bottom-bg-hover.png") repeat-x scroll center bottom;
     
    width: 100%;
    position: absolute;
    bottom: -10px;
    text-align: center;  cursor:pointer;
    padding:15px 15px;
    line-height: 22px;
		height: 20px;
	opacity: 1;*/
	
	height: 20px;
	opacity: 1;	
}

#new-arrival li:nth-child(3n+3){ margin-right:0;}
#new-arrival img{ text-align:center; display:block; margin:0 auto}


.ff-items{
	position: relative;
	margin: 0px auto;
 }

.ff-items a{
	display: block;
	position: relative;
	padding: 10px;
 
 }
 .ff-items li:nth-child(3n+3){ margin-right:0;}
 .ff-items li {width:350px; display:block; float:left; margin-right:30px; margin-left:15px; margin-bottom:45px; border:#898989 solid 1px; }
.ff-items a span{
 	background:#a3e4e9;
display: block; font-size:17px;
  
	color: #2E2E2E;
	font-weight: bold;
	/*padding: 10px 20px 30px;*/
	position: absolute;
	bottom: 0px;
	left: 0px;
	width:100%;
	height: 0px;
	overflow: hidden;
 	text-align: center;
	/*text-shadow: 1px 1px 1px #303857;*/
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
 }


.ff-items a:hover span{
	display: block; font-size:17px;
	 	background:#a3e4e9;
 	color: #2E2E2E;
	font-weight: bold;
	padding: 10px 20px 30px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width:100%;
	height: 0px;
	overflow: hidden;
 
	text-align: center;
	/*text-shadow: 1px 1px 1px #303857;*/
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ff-items li img{
	display: block; text-align:center; margin:0 auto
}


 

#most-popular li{ float:left; display:block; /*margin-bottom:25px;*/}

#more-products{ background:#f1f0ef; border:#ccc solid 1px; width:100%; margin-bottom:45px; }
#more-products h1{ color:#2e2e2e; text-align:center; text-transform:uppercase; font-size:22px;padding:10px 0; margin:0}

.testimonial{ background:#cbf4f0; display:block; max-width:45%; float:left;   margin-right:45px; padding: 0px 10px 32px; margin:10px 25px 55px;   }
.testimonial h1{ text-align:center; font-size:30px; color:#2e2e2e;}
.testimonial p{ text-align:center; font-size:15px; color:#2e2e2e;}

.testimonial1{ background:#cbf4f0; display:block; max-width:46%; float:left;   margin-right:45px; padding: 0px 10px 32px; margin:10px 26px 55px;   }
.testimonial1 h1{ text-align:center; font-size:30px; color:#2e2e2e;}
.testimonial1 p{ text-align:center; font-size:15px; color:#2e2e2e;}



.our-services{ background:#cbf4f0; display:block;  max-width:552px; padding:40px 0;  margin-bottom:55px;}
.our-services h1{ text-align:center; font-size:25px; color:#2e2e2e;}
.our-services p{ text-align:center; font-size:15px; color:#2e2e2e;}

#track .black-btn{ background:#000 !important; display:block; text-align:center; float:left; font-size:14px; color:#fff; padding:7px 25px; border-radius:4px; text-transform:uppercase;}
#track h1{ text-align:left; display:inline ; font-weight:600;  font-size:20px; float:left; padding:0; margin:9px 35px 0 0;}
#sort h1{ text-align:left; display:inline ; font-weight:600; font-size:17px; float:left; padding:0; margin:0 15px 0 0;}
#sort p{ text-align:left; display:inline ;  font-size:14px; padding:0; margin:0 5px 0 15px;}


.details h5{ border:#ccc solid 1px; padding:5px; text-align:center; margin:0 0 15px;}
.details h2{ font-size:25px; font-weight:bold; padding:0; margin:15px 0 7px;}
.details h3{ background:#cbbc97; padding:4px; text-align:center; margin:15px 0 7px; font-size:13px; color:#fff; width:50%}
.details h1{ padding:0; margin:0; font-size:25px; font-weight:bold}

.purchase-social{ margin-top:15px;}
.purchase-social li{ float:left; display:block; margin-right:10px;}

.active{ color:#924466 !important}
.breadcrumb li a{ color:#222 !important; text-transform:uppercase}

#showing{ background:#000; width:100%; display:block; padding:10px 0}
#showing h1{ color:#fff; font-size:19px; margin:0; padding:0; text-transform:uppercase; }

.checkbox label { padding:0; margin:0;font-size:16px; width:150px;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {margin-left:20px;}

.refine { border-right:#ccc solid 1px;}
.refine h1{ color:#000; font-size:18px; display:block; font-weight:bold;text-transform:uppercase;}
.refine li{  display:block; margin-bottom:10px;}

   
.product-list li{ width:265px; padding:15px; float:left; margin-left:15px; border:#ccc solid 1px; margin-bottom:15px;  height:320px;}
.product-list li:nth-child(3n+3){ }
.product-list img{ text-align:center; display:block; margin:0 auto}
.product-list h1{ font-size:15px; color:#222; text-align:center; text-transform: uppercase;}

.product-list ul{ margin:0; padding:0;}

 
.old-price{ font-size:13px; text-decoration:line-through; padding:0; margin:0;}


#sign .black-btn{ background:#000 !important; display:block; text-align:center;font-size:14px; color:#fff; padding:7px 25px; border-radius:4px; text-transform:uppercase;}
#sign h1{ text-align:left; display:inline ; font-weight:600; font-size:20px; float:left; padding:0; margin:9px 5px 0 0;}
#sign .email{ float:left; margin-top:-0px;}
#sign input[type="text"]{ margin-top:-10px;}


.discription{ font-size:14px; text-align:justify; line-height:22px; margin-bottom:10px;}

.social-icon{ width:40%; display:block; margin:35px auto; }
.social-icon li{ float:left; display:block; margin-left:15px;}

#footer{ background:#d4d4d4; display:block; height:45px; width:100%;}


@media only screen and (min-width :768px) and (max-width:980px) {

#banner-strip {  background: #fff; }
 .testimonial{ background:#cbf4f0; display:block; max-width:100%; float:left; margin-right:0px; padding:37px 0; margin-bottom:55px;   }

}

@media only screen and (min-width :240px) and (max-width:767px) {#header { margin-bottom:20px;}
#banner-strip {  background: #fff; }
#top-strip1 p{ color:#fff; font-size:12px; margin:0; padding:5px 0;} 
.navbar-form {float:none;} .shopping{ margin-bottom:10px;}
#track{ overflow:hidden; margin-bottom:15px;}
#sign h1 { display:block; width:100%;}
#sign .black-btn{ float:left; display:block; margin-left:35px; margin-top:10px;}
 .discription{ padding:0 15px}
 .social-icon{ width:100%;} .social-icon li{ margin-bottom:10px;}
 #track h1{   margin:0 15px 0 0;}
#new-arrival img{ text-align:center; display:block; margin:0 auto} #new-arrival li{ float:none;}
#new-arrival li{ width:100%; display:block; float:none; margin-right:0px; margin:0 auto; margin-bottom:25px;}
#new-arrival li:nth-child(3n+3){ margin-right:0;  margin:0 auto; margin-bottom:25px;}
.testimonial{ background:#cbf4f0; display:block; width:100%; max-width:100%;  margin-right:0px;}
.our-services{ background:#cbf4f0; display:block;  width:100%; max-width:100%;  margin-right:0px;} #new-arrival li h1 {     font-size:18px;}
#top-strip1 p { margin-bottom:15px;} .form-control { margin-left:15px; }
}
footer .footer_bottom {
  background: transparent;
  background: #65646a;
  line-height: 45px;
  color: white;
  display: block;
}
.footer_bottom a{
  color: #fff;
}
.footer {
  text-align:left;
}
/********** Somorjit Added ************/

.similar-col {
  width: 100%!important;
  padding: 0!important;
}


/*dhana edit the css*/
 .dropdown-menu h1{ font-size:14px; margin:0; padding:0 0px 10px; font-weight:bold; text-align:left}
.dropdown-menu h2{ font-size:14px; margin:0; padding:0 0px; font-weight:bold; text-align:left}
.dropdown-menu p{ color:#222 !important; font-size:11px; text-align:justify;}
.img{ margin-top:15px; z-index:99999; position:absolute;}

.dropdown-menu hr {
    margin-top:4px;
    margin-bottom: 4px;}
.selection li{ float:left; display:block; font-size:11px; padding:0 10px 10px; width:100%; vertical-align:middle;}
.selection img{ float:left; display: inline-block; width:35px; vertical-align:top; margin-right:15px; border:#ccc dotted 1px;  }
.dropdown-menu select{ width:100%; display:block; border:#ccc solid 1px; margin-top:7px;}
.dropdown-menu strong{font-size:11px; font-weight:bold }
.dropdown-menu input[type="text"]{ width:98%; display:block; border:#ccc solid 1px; margin-top:7px;}
.drop-btn{ background:#acacac; font-size:13px; width:80%; height:25px; border:none; color:#fff; margin-top:10px; margin-bottom:10px; }
.drop-btn1{ background:#acacac; font-size:14px; float:right; width:20%; height:35px; border:none; color:#fff; margin-top:10px; margin-bottom:10px; }
.wishlist{ min-width:900px !important;}
.bs-example{ float:left;}	
	
	
	@media only screen and (min-width :240px) and (max-width:767px) {
 
.wishlist{ min-width:300px !important;}
.bs-example{ float:none;}	.btn-group, .btn-group-vertical { width:100%; padding:6px 0 0px}
.drop-btn1{ background:#acacac; font-size:14px; float:left; width:100%; height:35px; border:none; color:#fff; margin-top:10px; margin-bottom:10px; }

	}


/*dhana edit css*/

.radio input[type="radio"] {
    display:none; 
}
.radio p { display:inline-block; font-size:15px; font-weight: 700; margin-right:15px;}
.radio label {
    display:inline-block;
    background-color:#fff; border:#acacac solid 1px;
    padding:2px 11px; margin-right:15px;
     font-size:12px;
}
.radio label:hover {
    display:inline-block;
    background-color:#ccc;border:#acacac solid 1px;
    padding:2px 11px; margin-right:15px;
     font-size:12px;
}

.radio input[type="radio"]:checked + label { 
    background-color:#b7b7b7 !important;
}


 footer{ background:#fbfaf8; border-top:#f2f1ef solid 1px; margin-top:15px;}
 .add-to-cart{ background:#acacac; font-size:25px; text-align:center; color:#fff; border:none; padding:7px 15px; font-weight:bold; margin-bottom:10px;}
.buy-now{ background:#cbbc97; font-size:25px; text-align:center; color:#fff; border:none; padding:7px 15px; font-weight:bold}

.form-group {
    margin-bottom: 7px; margin-top:10px;
}